@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container marketing">

    <hr class="featurette-divider">

    <asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
        <section class="column-left">
            <h3>Need to make an appointment?<br /> Fill out the information below!</h3><br />
            <h2>Patient Information</h2>
            <span>
                Please provide patient information as it appears on legal documents.
            </span>
        </section>

        <section id="contact" class="column-middle">
            <br />
            <span>
                Legal first name:
            </span>
            @Html.TextBox("FirstName", null, new { @class = "form-control" })
            <asp:RequiredFieldValidator ID="rfvName" runat="server" ErrorMessage="Please enter in a Name." ControlToValidate="txtName"></asp:RequiredFieldValidator>

            <span>
                Legal middle name (optional):
            </span>
            @Html.TextBox("MiddleName", null, new { @class = "form-control" })
            <asp:RequiredFieldValidator ID="rfvName" runat="server" ErrorMessage="Please enter in a Name." ControlToValidate="txtName"></asp:RequiredFieldValidator>

            <span>
                Legal last name:
            </span>
            @Html.TextBox("LastName", null, new { @class = "form-control" })
            <asp:RequiredFieldValidator ID="rfvName" runat="server" ErrorMessage="Please enter in a Name." ControlToValidate="txtName"></asp:RequiredFieldValidator>

        </section>

        <span>
            Address:
        </span>
        @Html.TextBox("Address", null, new { @class = "form-control" })
        <asp:RequiredFieldValidator ID="rfvName" runat="server" ErrorMessage="Please enter in a Name." ControlToValidate="txtName"></asp:RequiredFieldValidator>

        <section>

        <span>
            City:
        </span>
        @Html.TextBox("City", null, new { @class = "form-control" })
        <asp:RequiredFieldValidator ID="rfvName" runat="server" ErrorMessage="Please enter in a Name." ControlToValidate="txtName"></asp:RequiredFieldValidator>

        </section>

        <span>
            State:
        </span>
        @Html.TextBox("State", null, new { @class = "form-control" })
        <asp:RequiredFieldValidator ID="rfvName" runat="server" ErrorMessage="Please enter in a Name." ControlToValidate="txtName"></asp:RequiredFieldValidator>

        <section>

        <span>
            ZIP:
        </span>
        @Html.TextBox("ZIP", null, new { @class = "form-control" })
        <asp:RequiredFieldValidator ID="rfvName" runat="server" ErrorMessage="Please enter in a Name." ControlToValidate="txtName"></asp:RequiredFieldValidator>

        </section>

        <span>
            Preferred phone:
        </span>
        @Html.TextBox("Phone", null, new { @class = "form-control" })
        <asp:RequiredFieldValidator ID="rfvName" runat="server" ErrorMessage="Please enter in a Name." ControlToValidate="txtName"></asp:RequiredFieldValidator>

        <section>

        <span>
            What is the primary medical problem or diagnosis for the appointment request?
        </span>
        @Html.TextBox("Problem", null, new { @class = "form-control" })
        <asp:RequiredFieldValidator ID="rfvName" runat="server" ErrorMessage="Please enter in a Name." ControlToValidate="txtName"></asp:RequiredFieldValidator>

        </section><br />

        <input type="submit" value="Submit" class="btn btn-default" />

        <section class="column-right">
            <asp:Panel ID="pnlSubmission" runat="server" Visible="False">
                <h3>Thank you for your submission!</h3>
                <span>
                    You should be hearing back from someone within 24 hours to confirm your appointment.
                    This is for business days only.
                </span>
            </asp:Panel>
        </section>

    </asp:Content>
    <hr class="featurette-divider">
    <footer>
        <p class="pull-right"></p>
        <p>&copy; 2020 Mustard Clinic</p>
    </footer>
</div>